<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> </a></li>
      </ul>
    </div>
  </div>
</nav>
{% load static %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="">Founder chandramohan</a></p>
        <img src="{% static 'pp.jpg' %}" class="img-circle" height="65" width="65" alt="Avatar">
      </div>

      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
       See more our work
      </div>
      <p><a href="/seva/camp/">campain</a></p>
      <p><a href="/seva/vol/">savetree</a></p>
      <p><a href="/seva/phil/">Education</a></p>
      <p><a href="/seva/fund/">Food&cloth</a></p>
      <p><a href="/seva/joinnow/">joinnow</a></p>

    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Status: Feeling Blue</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>
            </div>
          </div>
        </div>
      </div>
     <center>       <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FFounderChandraMohanChaheta%2Fphotos%2Fa.114124690068570%2F241824817298556%2F&width=500&show_text=true&height=618&appId" width="500" height="618" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></center>
      <div class="row">
        <div class="col-sm-3">

      </div>
        </div>
        <div class="col-sm-9">

      </div>
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
        </div>
      </div>
      <div class="row">

        <div class="col-sm-9">

        </div>
      </div>
    </div>

  </div>
</div>
 <footer class="container-fluid text-center">

      <ol class="list-unstyled">
                    <a href="mailto:shrinarayansevasamiti@gmail.com">Send email</a>
                    <li><a href="https://www.youtube.com/channel/UC2ZecwOucQ7lNtgB4aRoIrw/featured">youtube</a></li>
                    <li><a href="https://www.facebook.com/FounderChandraMohanChaheta">Facebook</a></li>
                </ol>
    <p>Shree narayan manav seva samiti</p>
</footer>


</body>
</html>
